.img{
    text-align: center;
    width: 100%;
    border-radius: 14px;
}


.buttonAdd {
    font: inherit;
    color: #ffffff;
    cursor: pointer;
    background-color: #0b7241;
    border: none;
    border-radius: 25px;
    padding: 0.5rem 2rem;
    margin-left: 1rem;
}

.buttonAdd:hover,
.buttonAdd:active {
    background-color: #09492b;
}

.confirm{
    display: inline-flex;
}