body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
}

.column {
    flex: 1;
    max-width: 30%;
}


.image-column {
    flex: 1;
    max-width: 30%;
    text-align: right;
}

footer img {
    width: 50%;
    height: auto;
}