
.button {
    color: #ffffff;
    background-color: #2aadd3;
}

.button:hover,
.button:active {
    background-color: #30f6b2;
}

.buttonAdd:hover,
.buttonAdd:active {
    background-color: #09492b;
}



